#pic_show.row
  .col-md-6.offset-md-3
    .card
      .card-header.pic_image
        = image_tag @pic.image.url
      .card-body
        %h1= @pic.title
        %p= @pic.description
      .card-footer
        .row
          .col-md-6
            %p.user
              by
              = @pic.user.email
          .col-md-6
            .btn-group.float-right
              - if user_signed_in?   
                = link_to 'Edit', edit_pic_path, class: 'btn btn-info'
                = link_to 'Delete', pic_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
