!!! 5
%html
%head
  %title Instagram
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  = csrf_meta_tags
  = csp_meta_tag

%body
  %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .navbar-brand.ml-5= link_to 'Instagram', root_path
    #navbarNav.collapse.navbar-collapse
      - if user_signed_in?
        %ul.navbar-nav
          %li.nav-item= link_to 'Gram It', new_pic_path, class: 'nav-link'
          %li.nav-item= link_to 'Settings', edit_user_registration_path, class: 'nav-link'
          %li.nav-item= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link'
      - else
        %ul.navbar-nav
          %li.nav-item= link_to 'Join', new_user_registration_path, class: 'nav-link'
          %li.nav-item= link_to 'Log In', new_user_session_path, class: 'nav-link'
  .container.mt-5
    - flash.each do |name, msg|
      = content_tag :div, msg, class: 'alert alert-info'

    = yield
